<div class="container">
    <div class="row align-items-center">
        <!-- Columna redes sociales -->
        <div class="col-md-4 text-center text-md-start mb-3 mb-md-0">
            <a href="https://www.linkedin.com/in/jorge-r-a9785112a" target="_blank" class="me-3">
                <img src="./assets/images/linkedin-icon.png" alt="LinkedIn" style="object-fit: contain; width: 30px; height: 30px;">
            </a>
            <a href="https://github.com/JorgeRG00" target="_blank" class="me-3">
                <img src="./assets/images/github-icon.png" alt="Github" style="object-fit: contain; width: 30px; height: 30px;">
            </a>
            <a href="mailto:jorgeroldan00.jr@gmail.com" target="_blank" class="me-3">
                <img src="./assets/images/gmail-icon.png" alt="Gmail" style="object-fit: contain; width: 30px; height: 30px;">
            </a>
        </div>

        <!-- Columna información -->
        <div class="col-md-4 text-center mb-3 mb-md-0">
            <p class="mb-0">Desarrollado con <i class="fas fa-heart text-danger"></i> usando Angular</p>
        </div>

        <!-- Columna copyright -->
        <div class="col-md-4 text-center text-md-end">
            <p class="mb-0">&copy; 2024 JorgeRG</p>
        </div>
    </div>
</div>